<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      rel="stylesheet"
      id="bootstrap-css"
    />
    <link rel="stylesheet" href="/stylesheets/signup.css" />
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ Include the above in your HEAD tag ---------->

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
    />
  </head>
  <body>
    <div class="container">
      <br />
      <h1 class="text-center text-success">Password Managemetn System</h1>
      <div class="">
        <article class="card-body mx-auto" style="max-width: 400px;">
          <h4 class="card-title mt-3 text-center">Create Account</h4>
          <%if(msg!=""){%>
          <div class="alert alert-warning">
            <strong>Alert!</strong> <%=msg%>
          </div>

          <%}%>

          <p class="text-center">Get started with your free account</p>
          <form action="/signup" method="post">
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-user"></i>
                </span>
              </div>
              <input
                name="username"
                class="form-control"
                placeholder="Full name"
                type="text"
                required
              />
            </div>

            <!-- form-group// -->
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
              <input
                name="email"
                class="form-control"
                placeholder="Email address"
                type="email"
                required
              />
            </div>

            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
              <input
                name="password"
                class="form-control"
                placeholder="Create password"
                type="password"
                required
              />
            </div>

            <!-- form-group// -->
            <div class="form-group input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
              <input
                name="confpass"
                class="form-control"
                placeholder="Repeat password"
                type="password"
                required
              />
            </div>
            <!-- form-group// -->
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">
                Create Account
              </button>
            </div>
            <!-- form-group// -->
            <p class="text-center">Have an account? <a href="/">Log In</a></p>
          </form>
        </article>
      </div>
      <!-- card.// -->
    </div>
    <!--container end.//-->

    <br /><br />
  </body>
</html>
